PUID=1000
PGID=1000
TZ=America/Sao_Paulo
APPDATA_DIR=/srv/appdata
MEDIA_DIR=/srv/storage/media
TRANSCODE_DIR=/srv/appdata/plex/transcode
PLEX_CLAIM=
PLEX_ADVERTISE_IP=
OLLAMA_MODELS_DIR=/srv/appdata/ollama

